# env
*.env
*.env.test

# Dependencies
node_modules/

# Generated
build/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# caches
.cache/
.vscode/
.DS_STORE
